* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 120px;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container {
    max-width: 720px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 80px;
}

.square {
    min-width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #1389b2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.fizz {
    background-color: #0bd6a1;
}

.square.buzz {
    background-color: #ffd166;
}

.square.fizz.buzz{
    background-color: #f0466f;
}